# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# S3
S3_BUCKET_NAME=finstream-data-ingestion

# Databricks
DATABRICKS_HOST=
DATABRICKS_TOKEN=

# Airflow / Databricks Jobs
BRONZE_JOB_ID=
BRONZE_QUALITY_JOB_ID=
SILVER_TRANSFORMATION_JOB_ID=
STREAMING_BRONZE_JOB_ID=

# AI
GEMINI_API_KEY=
GEMINI_MODEL=